.DS_Store
.atom/
.vscode/
.idea/
.dart_tool/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
example/ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
example/ios/Runner.xcworkspace/xcuserdata/
example/ios/Flutter/
example/ios/.symlinks/
example/android/.settings/
